numpy==1.23.5
scipy==1.9.3
h5py==3.8.0
tensorflow==2.10.0
keras==2.10.0
pandas==2.0.3
matplotlib
seaborn
scikit-learn==1.2.2
opencv-python==4.6.0.66
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
jupyterlab
